<h2>Detalle de la Orden</h2>
<table mat-table [dataSource]="data.articulos">
  <ng-container matColumnDef="idArticulo">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.idArticulo}} </td>
  </ng-container>
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>
  <ng-container matColumnDef="precioUnitario">
    <th mat-header-cell *matHeaderCellDef> Precio Unitario</th>
    <td mat-cell *matCellDef="let element"> {{element.precioUnitario | currency}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-button color="secundary" (click)="cerrarDialog()">Cerrar</button>
