<h2>Modificar Cliente</h2>
<mat-form-field appearance="fill">
  <input matInput placeholder="Nombre" [(ngModel)]="cliente.nombre" name="nombre">
</mat-form-field>
<mat-form-field appearance="fill">
  <input matInput placeholder="Apellido" [(ngModel)]="cliente.apellido" name="apellido">
</mat-form-field>
<div class="row">
  <button mat-raised-button color="primary" type="submit" (click)="modificarCliente()">Modificar Cliente</button>
  <button mat-raised-button color="secundary" (click)="cancelarEdicion()">Cancelar</button>
</div>
