<h2>Nuevo Artículo</h2>
<mat-form-field appearance="fill">
  <input matInput placeholder="Código" [(ngModel)]="articulo.codigo" name="nombre">
</mat-form-field>
<mat-form-field appearance="fill">
  <input matInput placeholder="Nombre" [(ngModel)]="articulo.nombre" name="apellido">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Precio</mat-label>
  <input matInput type="number" placeholder="Precio Unitario" [(ngModel)]="articulo.precioUnitario">
</mat-form-field>
<div class="row">
  <button mat-raised-button color="primary" type="submit" (click)="crearArticulo()">Crear Articulo</button>
  <button mat-raised-button color="secundary" (click)="cancelar()">Cancelar</button>
</div>
